body {
  font-size: 1.5rem;
}

h1 {
  background: #FFFFEE;
  border-left: solid 15px #FF9900;
  border-bottom: solid 3px #CCCCCC;
}

h2 {
  border-left: solid 20px #FF9900;
}

table, th, td {
  border: solid 1px black;
}

.caption {
  font-weight: bold;
  margin-bottom: 0px;
  padding: 0px;
}

.top_area {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
}

.page_title{
  font-size: 4.0rem;
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  border-left: solid 30px #FF9900;
  border-right: solid 30px #FF9900;
}

.guide_area_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  margin: 0px 0px 0px 0px;
  padding: 5px;
  text-align: center;
}

.code01 {
  background: #EEEEEE;
  border-left: solid 10px #999999;
  border-bottom: solid 3px #CCCCCC;
  padding: 0px;
  margin: 0px;
}

.w300 {
  width: 300px;
}

.w500 {
  width: 500px;
}

.circle {
  border-radius: 50%;
}

.flex_contents_area{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}

.flex_content_area30 {
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
}

.flex_content_area70 {
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
}

.red {
  color: red;
  font-weight: bold;
}
