html {
  font-size: 100%;
}

body {
  font-size: 1.5rem;
}

h1 {
  background: #FFFFEE;
  border-left: solid 15px #FF9900;
  border-bottom: solid 3px #CCCCCC;
}

h2 {
  border-left: solid 20px #FF9900;
}

table {
  border: solid 1px black;
}
td {
  border: solid 1px black;
}

.guide_area {
  position: fixed;
  width: 100%;
  background-color: white;
  margin-top: -25px;
  padding-top: 10px;
}

.guide_area_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding: 0px;
  margin: 10px 10px -5px -10px;
  text-align: center;
}

.guide_area_content {
  margin: 0px;
  padding: 0px;
}

.base_position {
  padding-top: 80px;
}

.code01 {
  background: #EEEEEE;
  border-left: solid 10px #999999;
  border-bottom: solid 3px #CCCCCC;
  padding: 0px;
}

.test {
  padding: 0px;
  margin: 0px;
}
.w300 {
  width: 300px;
}

.w500 {
  width: 500px;
}

.image01 {
  border-radius: 50%;
}
