.tab_item {
  width: 50%;
  height: 50px;
  background-color: #DDDDDD;
  line-height: 50px;
  font-size: 34px;
  text-align: center;
  color: #555555;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 0px 10px 0;
  clear: both;
  overflow: hidden;
}

#ID_TAB01:checked ~ #ID_TAB01_CONTENTS {
  display: block;
}
#ID_TAB02:checked ~ #ID_TAB02_CONTENTS {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #FF9900;
  color: #000000;
  border-style: none none outset none;
}
