<!DOCTYPE html>
<html lang="ja" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    <link rel="stylesheet" href="../../css/style.css">
    <meta charset="utf-8">
    <title>【レゴ研鑽】テンプレート_index</title>
    <meta property="og:title" content="【レゴ研鑽】TITLE">
    <meta property="og:type" content="websites">
    <meta property="og:image" content="https://lego-san.github.io/icon/先生01.jpg">
    <meta property="og:url" content="https://lego-san.github.io/contents">
    <meta property="og:description" content="レゴを通じて学習したJavaScriptを紹介してます。">
    <meta property="og:site_name" content="【レゴ研鑽】Legoで遊びながら学ぶ">
    <script type="text/javascript" src="../../js/common.js"></script>
  </head>
  <body>
    <h1>【レゴ研鑽】テンプレート_index</h1>
    <p>本ページはGitHub Pagesで構築されてますので、修正・加筆等あればお気軽にPushください。</p>
    
    <ol>
      <li><a href="./item/item.html">item</a></li>
    </ol>

    <div id="ID_FOOTER"></div>

    <script>
      create_footer("ID_FOOTER",2);
    </script>

  </body>
</html>
