<!DOCTYPE html>
<html lang="ja" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    <link rel="stylesheet" href="../../../css/style.css">
    <meta charset="utf-8">
    <title>【レゴ研鑽】HTMLのXXXの使い方</title>
    <meta property="og:title" content="【レゴ研鑽】TITLE">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://lego-san.github.io/icon/先生01.jpg">
    <meta property="og:url" content="https://lego-san.github.io/contents">
    <meta property="og:description" content=”Lego遊びを通じて様々なことを学びます。”>
    <meta property="og:site_name" content="【レゴ研鑽】Legoで遊びながら学ぶ">
    <script type="text/javascript" src="../../../js/common.js"></script>
  </head>
  <body>
    <h1 id="ID_TITLE">【レゴ研鑽】title</h1>
    <p>本ページはGitHub Pagesで構築されてますので、修正・加筆等あればお気軽にPushください。</p>

    <h2 id="ID_CONTENTS">目次</h2>
    <div id="ID_CONTENTS_LIST"></div>

    <h2>タイトル</h2>
    <p class="caption">サンプル</p>
    <pre class="code01" style="padding: 10px;"><code>&lt;TAG&gt;
    </code></pre>

    <h2>サンプルHTMLへのリンク</h2>
    <p>サンプルページは<a href="../step/step01_tutorial.html">こちら</a>から確認できます。</p>
    <img style="width:300px;" src="../../../icon/先生02.jpg" alt="こちら">
    <p>HTMLファイルは<a href="https://github.com/lego-san/lego-san.github.io/blob/master/contents/html/step/step01_tutorial.html">こちら</a>からダウンロードできます。</p>

    <h2 id="ID_COMMENT">感想</h2>
    <p>xxxx</p>

    <div id="ID_FOOTER"></div>

    <script>
      create_contents_list("ID_CONTENTS_LIST");
      create_footer("ID_FOOTER",3);
    </script>


  </body>
</html>
